# Variables

- A variable is a location in memory used to store some data (value).
- They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.
- We do not need to declare a variable before using it. We need to simply assign a value to a variable and it will exist. We need not declare the data type of the variable to be used. This is handled internally according to the type of value we assign to the variable.

<h3> Variable Assignments </h3>

In [1]:
# We use assignment operator (=) to assign values to the variable.

a = 10
b = 5.5
c = "Machine Learning"

<h3> Multiple Assignments </h3>

In [5]:
a, b, c = 10, 5.5, "Machine Learning"
print(a)
print(b)
print(c)

10
5.5
Machine Learning

In [7]:
a = b = c = "AI"   # assign the same value to multiple variables at once
print(a)
print(b)
print(c)

AI
AI
AI

# Storage Locations

In [8]:
a = 3
print(id(a))  # prints the address location of variable a

1777364512

In [9]:
b = 3
print(id(b))   # prints the address location of variable b

1777364512

<b><u>Observation</u>:</b> 
variables a and b point to the same memory location

In [11]:
b = 2
print(id(b))   # prints the address location of variable b - new memory location is created any b point to this new location

1777364480

# Data Types

- Every value in Python has a datatype. 
- Since everything in Python is an object, data types are actually classes and variables are actually instances (object) of these classes.

<h3>1. Numbers </h3>

- Integers, floating point numbers, complex numbers fall under Python numbers category. 
- They are int, float and complex class in Python.

- We can use the type() function to know which class a variable belongs to.
- isinstance() function to check if an abject belongs to a particular class.

In [49]:
a = 5                                       # data type is implicitly set to integer - 'int'
print(a, " is of type ", type(a))

5  is of type  <class 'int'>

In [34]:
print(isinstance(a,int))

True

In [48]:
a = 5.5                                       # data type is changed to float - 'float'
print(a, " is of type ", type(a))

5.5  is of type  <class 'float'>

In [36]:
print(isinstance(a,float))

True

In [47]:
a = 1+2j                                      # data type is changed to complex number  - 'complex'
print(a, " is of type ", type(a))

(1+2j)  is of type  <class 'complex'>

In [43]:
print(isinstance(a,complex))

True

<h3>2. Boolean</h3>

Boolean represents the truth values False and True

In [46]:
a = True
print(type(a))   # a is a boolean type  - 'bool'

<class 'bool'>

<h3>3. Python Strings</h3>

- String is a sequence of Unicode characters. 
- We can use single quotes or double quotes to represent strings.
- Multi line strings can be denoted using triple single quotes (''') or triple quotes (""").
- A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

In [50]:
z = 'This is Online Artificial Intelligence Course.'
print(type(z))

<class 'str'>

In [57]:
z = '''This is Online Artificial 
Intelligence Course'''
print(z)
print(type(z))

This is Online Artificial
Intelligence Course
<class 'str'>

In [58]:
# print the first character in a string
print(z[0])

T

In [59]:
# print the last character in a string
print(z[len(z)-1])

e

In [60]:
# print the last character in a string
print(z[-1])

e

<h4>Slicing</h4>

- Display the string leaving the first n characters --> z[n:]

In [61]:
print(z[5:])

is Online Artificial
Intelligence Course

- Display the string from the first character to the n characters of a string  --> z[:n]

In [63]:
print(z[:10])

This is On

# Python Lists

- List is an ordered sequence of items. It is one of the most used datatypes in Python and is very flexible.
- All the items in a list need not be of the same data type. 
- Declaring a list is items separated by commas enclosed within brackets [ ].

In [64]:
a = [2, 10.7, False]
print(a[0])
print(a[1])
print(a[2])

2
10.7
False

 -  Lists are mutable, the values of the list can be changed.

In [65]:
a[2] = True

print(a)

[2, 10.7, True]

# Python Tuples

- Tuple is an ordered sequence of items same as list.
- Declaring a tuple is items separated by commas enclosed within brackets ( ).
- The only difference is that tuples are immutable. Tuple once created cannot be modified.

In [68]:
t = (1, 2.5, "ML")
print(t[0])
print(t[1])
print(t[2])

1
2.5
ML

In [69]:
t[1] = 5.5

TypeError: 'tuple' object does not support item assignment

# Python Set

- Set is an unordered collection of unique items.
- Set is defined by values separated by comma inside braces { }. 
- Items in a set are not ordered.

In [70]:
a = {10, 20, True, 5.5, 10, 5.5}
print(a)

{True, 10, 20, 5.5}

In [71]:
print(type(a))

<class 'set'>

- We can perform set operations like union, intersection on two sets. Sets have unique values.

In [75]:
s = {10, 20, 20, 30, 40, 50}  # set will not consider duplicates automatically
print(s)
print(type(s))

{40, 10, 50, 20, 30}
<class 'set'>

In [76]:
print(s[1]) # set is an unordered collection of items. We cannot print a particular element in a set.

TypeError: 'set' object does not support indexing

# Python Dictionary - like a hashtable : key-value store

- Dictionary is an unordered collection of key-value pairs.
- In Python, dictionaries are defined within braces { } with each item being a pair in form of key:value. 
- Key and value can be of any type.

In [81]:
d = {'a': "apple", 'b': "bat", 3: True}
print(d)
print(d[3])
print(d['b'])
print(d['c'])  # there is no key called 'c' - ERROR

{'a': 'apple', 'b': 'bat', 3: True}
True
bat

KeyError: 'c'

# Conversation between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str

In [82]:
float(5)

5.0

In [83]:
str(3)

'3'

In [84]:
int(100.5)

100

Conversion to and from string must contain compatible values.

In [85]:
int('10')

10

In [92]:
int('10q')   # invalid literal '10q' is not an integer data type - ERROR

ValueError: invalid literal for int() with base 10: '10q'

In [93]:
user = "Vennela"
words = 1000
print("Congratulations,", user,"has written a blog having", words, "words.")

Congratulations, Vennela has written a blog having 1000 words.

In [96]:
print("Congratulations,"+ user +"has written a blog having"+ words+ "words.")

TypeError: must be str, not int

In [99]:
print("Congratulations, "+ user +" has written a blog having "+ str(words)+ " words.")  # + - concatenating strings

Congratulations, Vennela has written a blog having 1000 words.

We can convert one sequence to other.

In [95]:
a = [1, 2, 3]
print(type(a))   # a is 'list' type

<class 'list'>

In [102]:
s = set(a)  # convert list to set datatype
print(type(s))

<class 'set'>

In [103]:
list("Hello")

['H', 'e', 'l', 'l', 'o']